<div class="px-1 border border-dark rounded pt-1 my-1" id="admPanel">
      <p class="my-0 mb-1 px-0 bg-dark text-light">Administrator Panel</p>
      <div class="row px-3">
          <div class="col-3 p-0 m-0">
              <div class="form-check my-0 pl-3 bg-dark text-light">
                  <input type="checkbox" class="form-check-input" id="admSelectAllUsers">
                  <label class="form-check-label" for="admSelectAllUsers">Users Online</label>
              </div>
              <ul class="list-unstyled text-left pl-2 my-0" id="usersOnlineNames">
                  @*<li>Krasimira</li>
                    <li>Georgiq</li>
                    <li>Maria</li>*@
              </ul>
          </div>
          <div class="col-6 p-0 pb-1 m-0 border-left border-right border-dark overflow-hidden">
              <p class="my-0 pl-2 bg-dark text-light text-center">Mass Messages:</p>
              <div class="miniMessageBoxAdm px-0">
                  Messages here!     Messages here!     Messages here!     Messages here!     Messages here!     Messages here!
                  Messages here!     Messages here!     Messages here!     Messages here!     Messages here!     Messages here!
                  Messages here!     Messages here!     Messages here!     Messages here!     Messages here!     Messages here!
                  Messages here!     Messages here!     Messages here!     Messages here!     Messages here!     Messages here!
                  Messages here!     Messages here!     Messages here!     Messages here!     Messages here!     Messages here!
                  Messages here!     Messages here!     Messages here!     Messages here!     Messages here!     Messages here!
                  Messages here!     Messages here!     Messages here!     Messages here!     Messages here!     Messages here!
                  Messages here!     Messages here!     Messages here!     Messages here!     Messages here!     Messages here!
                  Messages here!     Messages here!     Messages here!     Messages here!     Messages here!     Messages here!
                  Messages here!     Messages here!     Messages here!     Messages here!     Messages here!     Messages here!
                  Messages here!     Messages here!     Messages here!     Messages here!     Messages here!     Messages here!
                  Messages here!     Messages here!     Messages here!     Messages here!     Messages here!     Messages here!
              </div>
              <div class="px-2">
                  <textarea id="massMessageTXT" class="rounded pl-2" style="width:90%" placeholder="Write mass message here..."></textarea>
                  <button class="btn btn-success" id="massSendBtn"><i class="fas fa-bullhorn"></i> Send to All</button>
              </div>
          </div>
          <div class="col-3 p-0" m-0>
              <div class="form-check my-0 pl-3 bg-dark text-light">
                  <input type="checkbox" class="form-check-input" id="admSelectAllStaff">
                  <label class="form-check-label" for="admSelectAllStaff">Staff Online</label>
              </div>
              <ul class="list-unstyled text-left pl-3 my-0" id="staffOnlineNames">
              </ul>
          </div>
      </div>
    </div>