@model ResponseMessage

<div class="row d-flex justify-content-center bg-chatBox mb-1 p-1 rounded">
    <div class="col-3 rounded bg-jun">
        <h7 class="text-center">[@Model.UserInfo.Role]</h7>
        <h7 class="text-left"><i class="fas fa-user"></i>@Model.UserInfo.UserName</h7>
        <h7 class="small-time-font">@Model.Date</h7>
    </div>
    <div class="col-8 ml-1  p-2 rounded bg-jun">
        <p class="text-left font-italic">@Model.Message</p>
    </div>
</div>