@*@model  NewProductInDto*@

@{
    ViewData["Title"] = "Create New Product";
}


<div class="d-flex justify-content-center pt-2">
    <h1 class="m-0"><i class="fas fa-cog"></i> &nbsp; @ViewData["Title"]</h1>
</div>
<hr class="hr-jun w-50 my-2" />
<center>

    some form




</center>