<div class="container-fluid pl-4 pt-3">
    <h3 class="pt-2">About the author:</h3>
    <p>Nikolay Hristov</p>
    <p>Email: niki.hristov007@gmail.com</p>
    <p>Skype: niksana3</p>
    <br />
    <h3>About the project and GDPR:</h3>
    <p>
        This web app is online shop. It has educational purpose and it is not meant for commercial deals.<br />
        All of the prices, quantities and categories are randomly chosen.<br />
        If purchase is generated it will lead to generating an email for the buyer but no financial-or any kind of commersial obligations will occure.<br>
    <p class="text-danger font-italic">Due to the educational purpose of this app GDPR is not implemented at the current state.</p>
    <h3>Main functionality of Junjuria Store:</h3>
    <h4>1. User Roles and permissions:</h4>
    <ul class="userRolesInfo">
        <li>
            <p class="h5 font-weight-bold">1.1.Guest: (non logged in user)</p>
            <p>
                <span class="font-weight-bold">Guest can:</span> <br />
                + Visit and explore all items (both as listings and details).<br />
                + Search for products by name (case insensitive 2 letters match).<br />
                + See all rankings of products, most purchased, most commented, by category, by manufacturer...<br />
                + See who rated particular product.<br />
                + View manufacturer's data, categories by products and overal app info on index-page <br />
                + Add products to his basket but if he wishes to "Finalize order" he will be asked to log in first.<br />
                + Manipulate product quantity from nav bar. <br />
                <span class="text-info font-italic">However if item's stock quantity is not enough item quantity will not be allowed to be incresed.</span><br />
                + View AboutUs (this page) info.<br />
                + Write recomendation to the wep app by choosing name topic and content.<br />
            </p>
        </li>
        <li>
            <p class="h5 font-weight-bold">1.2. User: (logged in user)</p>
            <p>
                User have all the privilegues of guest. <br />
                <span class="font-weight-bold">User can:</span> <br />

                + "Finalize order" and change product quanitities in the order additionally.<br />
                <span class="text-info  font-italic">
                    When choosing this option products quantities are updated and listed.<br />
                    if some quantity is less available than demanded it will be displayed with it's maximum stock quantity instead.<br />
                    When submit order is chosen it will proceed only if quantities are available,<br />
                    otherwise Finalize-Order page will refresh with available quantities only.<br />
                </span>
                + Rate Products.
                <span class="text-info  font-italic">
                    User can rate product after wich he can change his rating but not remain neutral any more.<br />
                </span>
                + Write comments to products.
                <span class="text-info  font-italic">
                    User can not write comment if the last written comment is his own.<br />
                </span>
                + Give attitude to comments of products (Like or Dislike).
                <span class="text-info  font-italic">
                    User can give only 1 attitude point per coment if he likes comment he can dislike it but he can no longer stay neutral<br />
                    User can like his own comment<br />
                </span>
                + Can view his orders and monitor orders status. Also user is notified by email upon order-status change.
                + Can recieve email upon submiting an order.
                + Can view his own products rankings: Commented, Favourite and Rated products.
                + Can view his warranties of products he ordered /only if status of order is finalised/.
                + Can address service staff by chatting with them.<br />
                <span class="text-info  font-italic">When user writes to service all service staff can see or respond.<br />   </span>
                + Write recomendation to the wep app by choosing name or using his own by default.<br />
            </p>
        </li>

        <li>
            <p class="h5 font-weight-bold">1.3. Assistant: (logged in assistant)</p>
            <p>
                User Credentials: <br />
                UserName: [Assistant] <br />
                Password: [123456a] <br />
                Assistant have all the privilegues of User. <br />
                <span class="font-weight-bold">Assistant can:</span> <br />
                + Can view all orders of all users and change their status<br />
                <span class="text-info  font-italic">
                    If order is with status canceled or finalised it can not be manipulated further.<br />
                </span>
                + Can provide assistance by responding to all users who go to Contact Us section.<br />
                + Can view who of the users are seeking help and who of the other staff members is on.<br />
                + Can recieve mass messages from Admin.<br />
            </p>
        </li>
        <li>
            <p class="h5 font-weight-bold">1.4. Admin: (logged in admin)</p>
            <p>
                User Credentials: <br />
                UserName: [Admin1] <br />
                Password: [123456a] <br />
                Assistant have all the privilegues of Assistant. <br />
                <span class="font-weight-bold">Admin can:</span> <br />
            <p>
                + Add new category. <br />
                + Edit categories: /Changing Title, Description or Parent category./<br />
                + Remove category if no products or child categories are in it./otherwise he must relocate content of category before deletion/<br />
            </p>

            <p>
                + Add new Manufacturer. <br />
                + Edit Manufacturer: /Changing information about manufacturer/<br />
                + Remove Manufacturer only if manufacturer has no products. Removal is reversable!<br />
            </p>

            <p>
                + Add new Product. <br />
                + Edit Product: This includes removing of comments, editing of comments and reseting of product's user Rating.<br />
                + Change stock quantity of product.<br />
                + Remove Product - reversable<br />
            </p>

            <p>
                + Write to users who seek chat-aid. <br />
                + Send mass messages to all users in chat. <br />
                + Send mass messages to Assistants and Admins in chat via -Administrator panel. <br />
            </p>

            <p>
                + Hide unapropriate recomendations from users in recomendations Tab. <br />
                + Send mass messages to all users in chat. <br />
                + Send mass messages to Assistants and Admins in chat via -Administrator panel. <br />
            </p>
        </li>
    </ul>
    <h4>2. About implementation key aspects:</h4>
    <ul class="userRolesInfo">
        <li>
            <p class="h5 font-weight-bold">2.1. Basket management</p>
            <p>
                Basket is implemented by using User session upon submition of order.<br />
                Locking of Products DB occures and checking if quantities in basket are available, if false refreshing of order details for user to choose his further actions.<br />
                If they are available order is created.<br />
            </p>
        </li>
        <li>
            <p class="h5 font-weight-bold">2.2. Nav button Categories (sidebar)</p>
            <p>
                Categories can be nested. Every product can be present in one category. <br />
                The number of each category represents the ammount of products not deleted in the category and all of it's children categories.<br />
                The menu is loaded from DB and stored in Memory Cache. It loads recursively the nested categories<br />
                by generating html-code in RazorView. However if Admin modifies category somehow cash-memory is deleted and thus reseted giving UI update upon refreshing.<br />
            </p>
        </li>
        <li>
            <p class="h5 font-weight-bold">2.3. Nav button Manufacturers (sidebar)</p>
            <p>
                Similar to Categories but no nesting is involved, also stored in Memory Cache.<br />
                The number represents the non-deleted products of particular Manufacturer.
            </p>
        </li>
        <li>
            <p class="h5 font-weight-bold">2.4. Managing product pictures and reviews</p>
            <p>
                Reviews are expected to be provided as youtube video url's upon registering a product. The url is stored in DB and launched as embeded video<br />
                Pictures are expected to be provided as foreign url links. Upon creation the app makes a copy of the image in its 'own cloudinery API store account and saves its url in database.
            </p>

        </li>
        <li>
            <p class="h5 font-weight-bold">2.5. Emailing users</p>
            <p>
                Emailing is implemented by SendInBlue SMTP account<br />
            </p>
        </li>
        <li>
            <p class="h5 font-weight-bold">2.6. Favourizing product</p>
            <p>
                Favourizing product stores product in DB-mapping table when button is clicked it uses JS ajax call.<br />
            </p>
        </li>
        <li>
            <p class="h5 font-weight-bold">2.7. Contact Us - chat</p>
            <p>
                It uses SignalR Hub and web-sockets for transmiting data without refreshing.<br />
                Although currently it loads all who are in this section upon admin/staff joining messages are visible only if they happen after arrival of the user/admin/staff<br />
            </p>
        </li>
        <li>
            <p class="h5 font-weight-bold">2.7. Facebook Login</p>
            <p>
                Facebook login (registration) is implemented.<br />
            </p>
        </li>
        <li>
            <p class="h5 font-weight-bold">2.8. Pagination</p>
            <p>
                Pagination in All Products and Manage(Admin) occure if items exceed fixed amount.<br />
                If data-tables is in use pagination is not implemented additionaly because it is included in the library already.<br />
            </p>
        </li>
    </ul>

    <h4>3. Structure and code:</h4>
    <ul class="userRolesInfo">
        <li>
            <p class="h5 font-weight-bold">3.1. Overall</p>
            <p>
                Project follows MVC architecture (mostly) in general. It is service based.<br />
                For NavButtons ViewComponents are in use.
                For Login, Register and Recomendations RazorPages are in use.
                For everything else RazorViews + Controllers.
            </p>
        </li>
        <li>
            <p class="h5 font-weight-bold"><a href="#">3.2. GitHub</a></p>
            <p>
                Project follows MVC architecture (mostly) in general. It is service based.<br />
                For NavButtons ViewComponents are in use.
                For Login, Register and Recomendations RazorPages are in use.
                For everything else RazorViews + Controllers.
            </p>
        </li>
    </ul>
</div>