@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Contact Us:";
    //string userId = ViewData["UserId"].ToString();
    var testObject = new ResponseMessage("Prakash", "Indiec", "SomeComment");
}

<div class="d-flex justify-content-center pt-2">
    <h1 class="m-0"><i class="fas fa-search"></i> &nbsp; @ViewData["Title"]</h1>
</div>
<hr class="hr-jun w-50 my-2" />
<center>
    <div></div>
    <div class="w-50">
        <div class="px-4 rounded" id="chatBoardU">
            @for (int i = 0; i < 3; i++)
            {
                <partial name="_ChatMessageUserPartial" model="@testObject" />
            }
        </div>
        <div class="row justify-content-between mt-5">
            <div class="col-2">
                <label class="form-inline h3 text-left" for="MyMessage">Write message:</label>
            </div>
            <div class="col-8">
                <textarea id="userMessageContent" class="form-inline rounded" rows="3" cols="70" placeholder="Write message..."></textarea>
            </div>
            <div class="col-2">
                <button class="btn btn-primary btn-lg form-inline" id="userSend">Send</button>
            </div>
        </div>
    </div>
</center>

@section Scripts{
    <script src="~/lib/@@aspnet/signalr/dist/browser/signalr.min.js"></script>

    @*<script>

        var connection =
            new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .build();

        window.onload = (function () {
            console.log("starting the connection......");
            connection.start().catch(function (err) {
                return console.error(err.toString());
            });
            connection.invoke("NewCommer", "kk");
            console.log("are we there yet??");
        });

    </script>*@



    <script src="~/js/myjs/userChat.js"></script>



}