<div class="collapse navbar-collapse d-flex align-self-center" id="navbarToggler">
    <div class=" ml-auto">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
            <li class="nav-item dropdown active">
                <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-hammer"></i> <span class="font-weight-bolder"> &nbsp; Admin Options </span>
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-Options">
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Categories" asp-action="Manage"><i class="far fa-bookmark"></i> &nbsp; Manage Categories</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Products" asp-action="Manage"><i class="fas fa-box-open"></i> &nbsp; Manage Products</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Manufacturers" asp-action="Manage"><i class="fas fa-industry"></i> &nbsp; Manage Manufacturers</a>
                    }
                    <a class="dropdown-item" asp-area="Assistance" asp-controller="Orders" asp-action="Manage"><i class="fas fa-money-check-alt"></i> &nbsp; Manage Orders</a>

                </div>
            </li>
        </ul>
    </div>
</div>