<li class="nav-item dropdown active">
    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-info fa-lg"></i>
        <span class="font-weight-bolder">
            &nbsp; Service
        </span>
    </a>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="service-Options">

        <a class="dropdown-item " asp-controller="ClientService" asp-action="TeamInfo"><i class="fas fa-info"></i> &nbsp; About Us</a>

        <a class="dropdown-item " asp-controller="ClientService" asp-action="ContactUs"><i class="fas fa-phone-volume"></i> &nbsp; Contact Us</a>

        <a class="dropdown-item " asp-area="Common"  asp-page="/Recomendations/Index"><i class="fas fa-dolly"></i> &nbsp; Recomendations</a>
    </div>
</li>