@model IEnumerable<Junjuria.App.ViewModels.Products.ProductMinorOutDto>

@{
    ViewData["Title"] = "View Products";
}

<div class="d-flex justify-content-center pt-3">
    <h1><i class="fas fa-search"></i> &nbsp; @ViewData["Title"]</h1>
</div>
<hr class="hr-jun w-50" />
<center>
    <div class="w-75 justify-content-center">
        <div class="w-50 justify-content-center">
            @if (ViewData.ContainsKey("CategoryTitle"))
            {
                <h4>View products of category - <em> <span class="text-success"> @ViewData["CategoryTitle"] </span></em></h4>
                <h5>Category info:<em><span class="text-success"> @ViewData["CategoryInfo"] </span></em></h5>
            }
            <hr class="hr-jun" />
        </div>
    </div>

    <div class="row d-flex justify-content-around">

        @foreach (var product in Model.OrderByDescending(x => x.IsAvailable))
        {
            <partial name="_ProductPartial" model="product" />
        }
    </div>


    @section SidebarFilter{
    <br /><br />
    <h4>Filtering Code...</h4> 
    }
</center>